<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <title>Document</title>
</head>
<body class="postBody">
  <h1 class="head">BlogPost</h1>
  <div class="inputs">
  <form action="/" method="post">
  <input type="text" name="title" placeholder="Enter title here" height="10px" class="title"><br>
  <textarea name="message" rows="8" cols="80" placeholder="Enter message here"class="body"></textarea>
  <input type="submit" value="Add Post">
  </form>
  </div>
    <ol class="list">
      <h3 class="listhead">Collection of posts</h3>
      <% for(var i=0; i<data.length; i++) { %>
        <li><a class="links" href=<%="/message/"+ data[i].id %>><%= data[i].title %></a></li>
        <% } %>
    </ol>
</body>
</html>
