<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <title>Document</title>
</head>
<body class="showMessage">
  <div class="back">
    <h4 class="anchor"><a class="tag1"  href="/">Homepage</a></h4>
  </div>
  <h1 class="header2"><%= blog.title %></h1>
  <p class="UserMessage"><%= blog.textbody %></p>

</body>
</html>
